# Visual Studio
*.sdf
*.user
*.suo
*.opensdf
*.db
*.DS_Store
Debug/
ipch/
x64/
.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore IDE settings
.idea/

# Ignore build directories
cmake-build-debug/
cmake-build-release/

# Ignore executables
ms1
ms2
ms3

# Ignore additional CMake build files
*.o
*.out
